footer {
    margin-top: -7.5rem;
    background-color: rgba(2, 2, 2, 0.8);
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
    font-family: 'Afacad Flux', sans-serif;
    color: #f8f8f8;
    font-size: 12px;
    font-weight: 100;
    width: 100%;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 26px;
}